@use "../../../scss/main" as *;

.about-us {
    min-height: 100dvh;
    .title {
        margin-block: 80px 40px;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        transition: all 3s ease-in;
        
        .left {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .aboutImg {
                width: 500px;
            }
            .years-of-exp {
                position: absolute;
                top: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                &__desc {
                    position: absolute;
                    bottom: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    padding: 10px 60px 10px 60px;
                    background-color: #11607e;
                    
                    &__title {
                        display: flex;
                        justify-content: start;
                    }
                    
                    p {
                        font-family: Poppins-semibold;
                    font-size: 18px;
                    }
                
                img {
                    background-color: aliceblue;
                    padding: 10px;
                    max-width: 45px;
                    border-radius: 50%;
                }
            }
        }
    }
    
    .right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        max-width: 680px;
        
        .aboutus-desc {
            display: flex;
            align-items: start;
            justify-content: center;
            gap: 20px;

            img {
                width: 24px;
            }
            
            &__content {
                font-family: Poppins-regular;
                font-size: 22px;
                line-height: 30px;
                letter-spacing: 1px;
            }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    
}