@font-face {
    font-family: 'RacingSansOne';
    src: url('../../../public/fonts/RacingSansOne-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../../public/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Poppins-semibold';
    src: url('../../../public/fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-regular';
    src: url('../../../public/fonts/Poppins-Regular.ttf');
}