@use "../../../scss/main" as *;

.heroSec {
    position: relative;
    min-height: 100dvh;
    .bannerImg {
        position: relative;
        min-height: 80dvh;
        height: 100%;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:hsla(231, 83%, 5%, 0.673);
    }
    .bgImg {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .bannerSubImg{
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35%;
    }
    .bannerText {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80dvh;
        text-align: center;

        h1 {
            font-family: RacingSansOne;
            font-size: 70px;
            color: #ffffff;
            line-height: 70px;
            letter-spacing: 2px;

            span {
                color: #17BEFF;
            }
        }
        p {
            font-family: Poppins-regular;
            font-size: 20px;
            line-height: 35px;
            letter-spacing: 1;
            padding-top: 20px;
            max-width: 700px;
        }
        button {
            font-family: RacingSansOne;
            padding: 13px 30px;
            margin-top: 20px;
            border-radius: 40px;
            border: 2px solid #17BEFF;
            background: none;
            color: #17BEFF;
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 769px) {
    .heroSec{
        .bannerText {
            min-height: 100dvh;
            h1{
                font-size: 60px;
                line-height: 70px;
            }
        }
        .bannerImg {
            min-height: 100dvh;
        }
        .bannerSubImg {
            display: none;
        }
    }
}

@media screen and (max-width: 426px) {
    .heroSec{
        .bannerText {
            h1{
                font-size: 44px;
                line-height: 50px;
            }
        }
        .bannerImg {
            min-height: 100dvh;
        }
    }
    
}


@media screen and (max-width: 376px) {
    .heroSec{
        .bannerText {
            h1{
                font-size: 40px;
                line-height: 48px;
            }
            p {
                font-size: 15px;
                line-height: 25px;
            }
        }
        .bannerImg {
            min-height: 100dvh;
        }
    }
}

@media screen and (max-width: 322px) {
    .heroSec{
        .bannerText {
            h1{
                font-size: 28px;
                line-height: 35px;
            }
            p {
                font-size: 14px;
                line-height: 23px;
                padding-top: 10px;
            }
        }
        .bannerImg {
            min-height: 100dvh;
        }
    }
}


