

.bold {
    text-align: center;
    font-family: RacingSansOne;
    font-size: 50px;

}

.color {
    color: #17BEFF;
}

.wrapper {
    max-inline-size: 1400px;
    margin-inline: auto;
    padding-inline: 25px;
}

@media screen and (max-width: 1441px) {
    .wrapper {
        max-inline-size: 1200px;
        padding-inline: 30px;
    }
}
@media screen and (max-width: 1025px) {
    .wrapper {
        max-inline-size: 1100px;
        padding-inline: 30px;
    }
}
@media screen and (max-width: 769px) {
    .wrapper {
        max-inline-size: 700px;
        padding-inline: 30px;
    }
}